:root {
  --main-font: 'Roboto', sans-serif;
  --secondary-font: 'Raleway', sans-serif;
  --title-color: #212121;
  --text-color: #757575;
  --accent-color: #2196f3;
  --logo-color: #000000;
  --hero-color: #ffffff;
  /* --portfolio-prodescription-bg: rgba(33, 150, 243, 0.9); */
  --filbut-team-bg: #f5f4fa;
  --hero-footer-bg: #2f303a;
  --footer-contacts-color: rgba(255, 255, 255, 0.6);
}

body {
  font-family: var (--main-font);
  font-style: normal;
}

/*Components*/
.link {
  text-decoration: none;
}
.list {
  list-style: none;
}
.header-contacts {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.02em;
  color: var(--text-color);
}
.header-contacts:hover,
.header-contacts:focus,
.navigation-link:hover,
.navigation-link:focus {
  color: var(--accent-color);
}

.button {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--hero-color);
  background-color: var(--accent-color);
  border: none;
}

/* ==Header==*/
/* logo */
.logo {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.192;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}
.logo-in-header {
  color: var(--logo-color);
}
.logo-in-footer {
  color: var(--hero-color);
}
/* Navigation */
.navigation-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.02em;
  color: var(--title-color);
}
.navigation-link.current {
  color: var(--accent-color);
}

/* ==Footer==*/
.footer {
  background: var(--hero-footer-bg);
}
.company-adress {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;

  letter-spacing: 0.03em;
  color: var(--hero-color);
}
.adress {
  font-style: normal;
}
.footer-contacts {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;

  letter-spacing: 0.03em;
  color: var(--footer-contacts-color);
}

/*====Studio====*/
/* Hero */
.hero-section {
  background: var(--hero-footer-bg);
}
.hero {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.364;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  color: var(--hero-color);
}
/*List of benefits*/
.benefits-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--title-color);
}
.benefits-description {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;

  color: var(--text-color);
}
/* Services */
.services-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.167;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--title-color);
}

/* Our team */
.team-section {
  background: var(--filbut-team-bg);
}
.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.167;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--title-color);
}
.employee {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.188;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--title-color);
}
.position {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.188;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--text-color);
}

/*====Portfolio====*/
/* Filter */
.filter-button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  border: none;

  text-align: center;
  letter-spacing: 0.03em;

  color: var(--title-color);
  background: var(--filbut-team-bg);
}
.filter-button:hover,
.filter-button:focus {
  color: var(--hero-color);
  background-color: var(--accent-color);
}
/* Work list */
.project-name {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;

  letter-spacing: 0.06em;

  color: var(--title-color);
}
.project-type {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.875;

  letter-spacing: 0.03em;

  color: var(--text-color);
}
.projekt-description {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.555;

  letter-spacing: 0.03em;

  color: var(--hero-color);
  background: var(--portfolio-prodescription-bg);
}
